.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border: none;
  border-radius: 5px;
  color: $button-text;
  font-weight: 700;
  font-size: 1.125rem;
  text-align: center;
  background-color: $button-primary;
  min-width: 133px;
  height: 70px;
  padding: 5px 20px;
  &:hover {
    background-color: $button-secondary;
    color: $button-text-hover;
  }
}
