$color-primary: #901c1c;
$color-secondary: #d3573c;
$color-tertiary: black;
$color-quaternary: #757575;

$button-primary: #901c1c;
$button-secondary: #db8876;
$button-text: white;
$button-text-hover: black;

$desktop: 1024px;
$tablet: 768px;
